<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand " routerLink="/"><i  class="fab fa-adn" style="font-size: 24px;"></i></a>
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/kleviscipi/personal-bank"> <i class="fab fa-github"></i> Github</a>
        </li>
    </ul>

    <ul class="navbar-nav float-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/singup">Sing Up</a>
        </li>
    </ul>
    
</nav>