<div class="container" style="margin-top: 64px;">
    <div class="card text-center" style="min-height: 242px;">
        <ng-template #preogresView>
            <div class="loader absolute"></div>
        </ng-template>        

        <div class="card-header">
            <button (click)="back()" class="btn btn-sm btn-info float-left"> <i class="fas fa-arrow-left"></i> Back</button>
            <span class="float-right">Account</span>
        </div>
        <div *ngIf="!accountService.loadViewAccount;else preogresView">
            <div class="card-body">
                <h5 class="card-title">{{accountService.account.iban}}</h5>
                <p class="card-text">
                    Type {{accountService.account.type}}  
                </p>
                <p>
                    <span class="border border-success rounded-circle balance"> <small>{{accountService.account.balance}}</small></span>
                </p>
                <span class="badge badge-success">Transactions {{accountService.account.transactions.length}}</span>
                <span style="margin-left:10px" class="badge badge-success ">Activities {{accountService.account.activities.length}}</span>
                <hr/>
                <div class="btn-group">
                    <button (click)=redirectBtn() class="btn btn-dark btn-sm"> <i class="fas fa-exchange-alt"></i> Go to transactions</button>
                </div>
            </div>
            <div class="card-footer text-muted">
                Created : {{date.format(accountService.account.created_at,'dd/mm/yyyy')}}
            </div>
        </div>
    </div>
</div>