<div  class="card">
    <div class="card-body">
        <p class="notes notes-info">
            Update the profile password
        </p>
        <br/>
        <form (ngSubmit)="updatePassword($event)" [formGroup]="validate.form" method="POST" #formDir="ngForm"  class="form-profile" >
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="float-left">Password</label>
                    <input
                        formControlName = "password"
                        type            = "password" 
                        id              = "inputPassword" 
                        name            = "password"
                        class           = "{{classInput('password')}}"   
                        placeholder     = "Password"  
                        [(ngModel)]     = "fieldUserPasswords.password"
                        (keyup)         = "onChange($event)"
                        autofocus 
                    >
                    <div *ngIf="validate.isRequired('password') || validate.messages.password.error"  >
                        <div *ngFor="let messages of  validate.messages.password.message" class="invalid-feedback d-block">
                            {{messages}}
                            </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="float-left">Password Confirm</label>
                    <input
                        formControlName = "password_confirmation"
                        type            = "password" 
                        id              = "inputPasswordC" 
                        name            = "password_confirmation"
                        class           = "{{classInput('password_confirmation')}}"   
                        placeholder     = "Confirm Password"  
                        [(ngModel)]     = "fieldUserPasswords.password_confirmation"
                        (keyup)         = "onChange($event)"
                        autofocus 
                    >
                    <div *ngIf="validate.isRequired('password_confirmation') || validate.messages.password_confirmation.error"  >
                        <div *ngFor="let messages of  validate.messages.password_confirmation.message" class="invalid-feedback d-block">
                            {{messages}}
                            </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12">
                    <div class="btn-group float-right">
                        <button class="btn btn-sm btn-success btn-block {{auth.loadUpdatePasswordProfile == true ? 'disabled':'' }} " type="submit" >
                                <app-loading-btn 
                                    [load]  ="auth.loadUpdatePasswordProfile" 
                                    btnIcon ="fa fa-save" 
                                    btnText ="Update"
                                >
                                </app-loading-btn>
                        </button>
                    </div>
                </div>
            </div>
        </form>         
    </div>
</div>