$columns_m_top: 10;

//colors
$color_red      :red;
$color_green    :green;
$color_yellow   :yellow;
$color_blue     :#1a8cff;

// borders
$border_1px:1px;
$border_2px:2px;
$border_3px:3px;
$border_4px:4px;